<div class="dummy_container">
  <a class="dummy_pointer" href="/survey/customer" ></a>
  <a class="dummy_mail" href="mailto:mkl@jklcompany.co.kr"></a>
  <a class="dummy_link" href="https://www.paloaltonetworks.com"></a>
</div>
