// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.amdin_main_container {
  width: 100%;
  overflow-x: scroll;
}

.admin_index_container {
  max-width: 5000px;
  width: 5000px;
}
