// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

//@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #eff3ef;
}

div.app_container {
  display: block;
  margin: auto;
  width: 750px;
  height: 772px;
  background-image: image-url("Background.jpg");
  position: relative;
  z-index: 12;
}
#main_container {
  width: 700px;
  margin: 0 auto;
  color: #065580;
  z-index: 10;
}
#main_container form{
  width: 700px;
  float: left;
  z-index: 10;
  margin: 0 auto;
}

.pull-left {
  float: left;
}

input[type="submit"] {
  -webkit-appearance: none;
  border: none;
  width: 176px;
  height: 47px;
  background-color: rgba(0,0,0,0);
filter: alpha(opacity=0);
  cursor: pointer;
}

.submit_btn {
  width: 176px;
  height: 50px;
  position: absolute;
  top: 713px;
  left: 513px;
  cursor: pointer;
}

.dummy_container {
  display: block;
  margin: auto;
  width: 750px;
  height: 772px;
  background-image: image-url("dummy_mail.JPG");
  position: relative;
}

.dummy_pointer {
  width: 200px;
  height: 50px;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 570px;
  left: 122px;
}

.dummy_mail {
  width: 100px;
  height: 20px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 696px;
  left: 132px;
}

.dummy_link {
  width: 200px;
  height: 50px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 22px;
  left: 257px;
}
.dummy_link_2 {
  width: 200px;
  height: 230px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 195px;
  left: 63px;
}
.dummy_link_3 {
  width: 160px;
  height: 20px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 750px;
  left: 20px;
}

 #show_agreement {
   position: absolute;
   border: none;
   cursor: pointer;
   background-color: rgba(12,12,32,0);
   width: 120px;
   height: 30px;
   top: 709px;
   left: 231px;
	 filter: alpha(opacity=0);
 }

 #agreement {
   position: absolute;
   top: 712px;
   left: 57px;
	 filter: alpha(opacity=0);
 }
