<!DOCTYPE html>
<html>
<head>
  <title>Paloalto</title>
  <%= stylesheet_link_tag    "answers", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<style>
  @charset "utf-8";
  /* Common */
  @font-face {
  font-family:ngwoff;
  src:url('/tpl/font/NanumGothic.woff')
  }
  @font_face {
  font-family:ngeot;
  src:url('/tpl/font/NanumGothic.eot');
  }
  @font-face {
  font-family:NanumGothic;
  src:url('/tpl/font/NanumGothic.ttf');
  }

  .form_1{width:347px; height:15px; 
  border:0px; display:block; float:left; 
  margin-left:210px; margin-top:95px;
  }
  .form_2{width:140px; height:15px; 
  border:0px; display:block; float:left; 
  margin-left:210px; margin-top:5px;
  }
  .form_6{width:150px; height:20px; margin-top:16px; margin-left:130px;
  border:0px; display:block; float:left; border:1px solid #747474;
  }
  .form_3{width:140px; height:15px; 
  border:0px; display:block; float:left; 
  margin-left:65px; margin-top:5px;
  }
  .form_4{width:150px; height:20px; margin-top:5px; margin-left:130px;
  border:0px; display:block; float:left; border:1px solid #747474;
  }
  .form_4{width:450px; height:20px; margin-top:33px; margin-left:180px;
  border:0px; display:block; float:left; border:1px solid #747474;
  }
  .form_5{width:450px; height:20px; margin-top:28px; margin-left:180px;
  border:0px; display:block; float:left; border:1px solid #747474;
  }
  .summit{width:228px; height:64px; margin-top:20px; margin-left:270px;
  border:0px; display:block; float:left; background-image:url(summit.jpg);
  cursor:pointer;}
</style>
<body>

<div class="app_container">
<%= yield %>
</div>

</body>
</html>
